.container {
    width: 500px;
    display: grid;
    grid-gap: 40px;
}

.left, .right {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
}

button:hover{
    background-color: #eeeeee;
}

.AppContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}